# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore config file.
/config/secrets.yml

# Ignore Byebug command history file.
.byebug_history

# Ignore system file.
/public/system
/public/assets
.envrc
*.sqp
*.rbc
*.orig
*~
*.sublime*
.project
.DS_Store
.ruby-version
Gemfile.lock
.tern-project
